body{
    background-color: darkcyan;
}

#camera{
    height: 400px;
    width: 500px;
    border-width: 5px;
    border-style: groove;
    border-color: black;
}

#result1{
    height: 500px;
    width: 600px;
  
    box-shadow: 5px;
    
}
#results2{
    height: 500px;
    width: 600px;
  
    box-shadow: 5px;
    
}
#result3{
    height: 500px;
    width: 600px;

    box-shadow: 5px;
    
}



